/._index.wsgi
/._kody.py
/.gitignore
/__pycache__


/index-old.html
/kody.py
/kody2.py
/output.log
/style.css
/testy_duraion.py
/layouts
/kody_reddit.py

/.DS_Store
/._newspaper_mask.png
/web-test.py
/.vscode/settings.json
/backtrader/.DS_Store
/.gitignore
/backtrader/b-t.code-workspace
/backtrader/kody.py
/backtrader/__pycache__/backtrader.cpython-38.pyc
/backtrader/__pycache__/kody.cpython-38.pyc
/backtrader/__pycache__/kody.cpython-39.pyc
/backtrader/__pycache__/strategy_tests.cpython-39.pyc
/backtrader/__pycache__/strategy.cpython-38.pyc
/backtrader/__pycache__/strategy.cpython-39.pyc
/backtrader/__pycache__/strategy1.cpython-38.pyc
/backtrader/__pycache__/trader.cpython-38.pyc
/backtrader/backtrader_web/._.DS_Store
/backtrader/backtrader_web/.DS_Store
/backtrader/backtrader_web/__pycache__/strategy.cpython-38.pyc
/backtrader/backtrader_web/fontlist-v330.json
